body{
    /* background-color: darkcyan; */
    background-color: silver;
}
nav{

}
fieldset{
    background-color:#6161f8;
    opacity: 1;
    width: 50;
    height: 50;
}
.res{
    overflow-x: auto;
}
.card1,.card2,.card3{
    display: flex;
    font-size: larger;
    margin-top: 40px;
    
    /* width: 70px; */
    margin-top: 10px;
    
}
.maincard{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
@media only screen and (max-width: 600px) {
    .card1,.card2,.card3{

        width: 40%;
        height: 200px;
        background-color: slategray;
        
    }
    .footer{
        /* margin-top: 500px; */
        width: 100%;
        top: 420%;
        
        
    }
    .maincard{
        
        width: 320px;
        justify-content: space-around;
    }
    .imag{
        width: 140px;
        height: 116px;
    }
    .card{
        background-color: silver;
        border: none;
       
    }
    
    
  }